<h1>Deleting category {{ category.name }}</h1>

<form action="{% url 'blogmanagement:delete_category' category.id %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Confirm">
</form>
    <button id="categories_btn">Cancel and go back to categories</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#categories_btn").click(function () {
            window.location.replace("/manage/categories")
        })
    })
</script>